nav img {
    width: 46px;
    height: 48px;
    border-radius: 50%;
    margin: 5px;
    margin-right: 12px;
    border: 2px solid #141018d6;
}

nav b {
    font-size: 18px;
}

nav {
    padding: 14px 10px;
    display: flex;
    align-items: center;
}

#curso {
    color: #727272;
    font-size: 14px;
}